<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <div class="cta-inner bg-faded text-center rounded">
                  <h2 class="section-heading mb-5">
                    <span class="section-heading-upper">Come On In</span>
                    <span class="section-heading-lower">Books Space</span>
                  </h2>

                  <div class="row">
                    <div class="col-10"></div>
                    <button  class="col-2 btn btn-primary" (click)= OnCreate() >{{msgBtn}} </button>
                  </div>
                  <div *ngIf="x">
                    <form [formGroup]="addForm" (ngSubmit)="submit()" >
                      <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
                        <li class="list-unstyled-item list-hours-item d-flex">
                          Book Title
                          <span class="ms-auto">
                                     <input formControlName="bookName" type="text" class="form-control" placeholder="Enter title">
                                </span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                          Author
                          <span class="ms-auto">
                                     <input formControlName="bookAuthor" type="text" class="form-control" placeholder="Enter author">
                                </span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                          Total examplaries
                          <span class="ms-auto">
                                     <input formControlName="total_examplaries" type="number" class="form-control" placeholder="Enter total examplaries">
                                </span>
                        </li>
                        <li>
                          <button class="btn btn-primary" [disabled]="addForm.invalid"  type="submit" >Submit</button>
                        </li>
                      </ul>
                      </form>
                  </div>



                  <div class="row">
                    <div class="col-12">
                      <table class=" table mb-3 mx-auto text-center">
                        <thead>
                        <tr class="inline-table d-flex">
                          <th class="col-md-3">Title</th>
                          <th class="col-md-3">Author</th>
                          <th class="col-md-3">Total examplaries</th>
                          <th class="col-md-3"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="inline-table d-flex" *ngFor="let book of books">
                          <td  class="col-md-3">{{book.title}}</td>
                          <td  class="col-md-3">{{book.author}}</td>
                          <td  class="col-md-3">{{book.total_examplaries}}</td>

                          <td  class="col-md-3">
                            <div  style="display: inline-table;" class="intro-button mx-auto">
                              <button class="btn btn-primary" (click)= OnUpdate(book)>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                </svg>
                              </button>
                            </div>
                            <div style="display: inline-table;" class="intro-button mx-auto">
                              <button class="btn btn-primary " (click)= OnDelete(book)>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                </svg>
                              </button>
                            </div>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>




                </div>
            </div>
        </div>
    </div>
</section>
